.grid_container {
  background: black;
  padding: 8px 0;
}

.grid_wrapper {
  display: block;
  position: relative;
  padding: 0;
  list-style: none;
  margin: 0;
}

.grid_item {
  animation: placeHolderShimmer 12s linear infinite forwards;
  width: 25%;
}

.grid_item_content {
  background: linear-gradient(90deg, #f2f5f9 2%, #fafcff 60%, #f2f5f9 100%);
  padding: 0 8px 16px;
  display: flex;
  background-clip: content-box;
  justify-content: center;
  align-items: center;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.height_1 {
  height: 100px;
}

.height_2 {
  height: 200px;
}

.height_3 {
  height: 300px;
}

.height_4 {
  height: 400px;
}

.height_5 {
  height: 500px;
}

.height_6 {
  height: 600px;
}
